/* Variables used throughout will go here. */
/* EFA Color pallete */
/* CSS code for the jumbotron section. */
.jumbotron {
  background: transparent;
  color: yellow;
  padding-top: 1px;
  padding-bottom: 1px;
  max-width: 100%; }

#jumbotron-text {
  color: beige; }

/****************************
Body Section
****************************/
body {
  background: url("../assets/img/space-planet.jpg") no-repeat center center;
  font-size: 16px;
  color: beige; }

header {
  background: transparent;
  color: beige;
  text-align: center; }

/* ------------------------------
movies Section
--------------------------------*/
.movie-list {
  /* defaults: background: #fff; padding: 25px 0*/
  background: transparent;
  width: 100%;
  height: 100%;
  color: beige;
  list-style-type: none;
  padding: 0 0; }

.movie-crawl {
  /* defaults: background: #fff; padding: 25px 0*/
  background: transparent;
  width: 100%;
  height: 100%;
  color: beige;
  list-style-type: none;
  padding: 0 0; }

.movie-details {
  /* defaults: background: #fff; padding: 25px 0*/
  background: transparent;
  width: 100%;
  height: 100%;
  color: beige;
  list-style-type: none;
  padding: 0 0; }

.swDetails {
  background: transparent;
  color: beige;
  list-style-type: none; }

li {
  color: beige;
  font-size: 14px; }

#movie {
  padding-top: 50px;
  padding-bottom: 25px;
  color: beige;
  text-align: center;
  font-style: italic;
  font-size: 40px; }

/* CSS code for the Footer section. */
footer {
  /* Default: padding-top: 3rem; padding-bottom: 3rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* Default: background-color: $red; */
  background-color: black;
  font-size: 18px;
  /* Default: ground-color: $green; */
  color: lightslategray; }

footer p {
  margin-bottom: .25rem; }
